# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/
/media/
leads.xlsx
leads_csv/

# Secret
.env
*.env

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Tests
.coverage
htmlcov/
.pytest_cache/
